<ion-header>
    <ion-navbar>
        <ion-title>Browse</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="item-title">Afternoon Jams</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/get-popped.png" />
                    <div>
                        Get Popped
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/unwind.png" />
                    <div>
                        Unwind
                    </div>
                    <p>645,543 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/indie-arrivals.png" />
                    <div>
                        Indie Arrivals
                    </div>
                    <p>892,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/big-summer-hits.png" />
                    <div>
                        Big Summer Hits
                    </div>
                    <p>964,655 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/monster-dance-hits.png" />
                    <div>
                        Monster Dance Hits
                    </div>
                    <p>427,514 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/always-perfect.png" />
                    <div>
                        Always Perfect
                    </div>
                    <p>644,212 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/just-chill.png" />
                    <div>
                        Just Chill
                    </div>
                    <p>253,247 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/fresh-country.png" />
                    <div>
                        Fresh Country
                    </div>
                    <p>311,545 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/happy-pop.png" />
                    <div>
                        Happy Pop
                    </div>
                    <p>652,694 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-afternoon.png" />
                    <div>
                        Chilled Afternoon
                    </div>
                    <p>947,564 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/broad-chords.png" />
                    <div>
                        Broad Chords
                    </div>
                    <p>653,645 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunny-reggae.png" />
                    <div>
                        Sunny Reggae
                    </div>
                    <p>161,613 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/coffee-chill.png" />
                    <div>
                        Coffee + Chill
                    </div>
                    <p>611,541 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunburnt-beats.png" />
                    <div>
                        Sunburnt Beats
                    </div>
                    <p>641,874 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/summertime-throwbacks.png" />
                    <div>
                        Summertime Throwbacks
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-classics.png" />
                    <div>
                        Chilled Classics
                    </div>
                    <p>575,535 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/rnb-connect.png" />
                    <div>
                        R&B Connect
                    </div>
                    <p>765,423 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-hits.png" />
                    <div>
                        Chilled Hits
                    </div>
                    <p>576,456 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/classic-summer.png" />
                    <div>
                        Classic Summer
                    </div>
                    <p>544,954 FOLLOWERS</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <ion-row>
        <ion-list>
            <ion-item no-lines class="browse-item">
                <ion-icon class="browse-item-icon" name="md-trending-up" item-start></ion-icon>
                <p class="browse-item-text">Charts</p>
            </ion-item>

            <ion-item no-lines class="browse-item">
                <ion-icon class="browse-item-icon" name="md-calendar" item-start></ion-icon>
                <p class="browse-item-text">New Releases</p>
            </ion-item>

            <ion-item no-lines class="browse-item">
                <ion-icon class="browse-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="browse-item-text">Podcasts</p>
            </ion-item>

            <ion-item no-lines class="browse-item">
                <ion-icon class="browse-item-icon" name="md-wifi" item-start></ion-icon>
                <p class="browse-item-text">Discover</p>
            </ion-item>

            <ion-item no-lines class="browse-item">
                <ion-icon class="browse-item-icon" name="md-card" item-start></ion-icon>
                <p class="browse-item-text">Concerts</p>
            </ion-item>
        </ion-list>
    </ion-row>

    <div class="genres-mood-title">Genres and moods</div>

    <ion-row>
        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/summer.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/pop.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/mood.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/party.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/hip-hop.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/chill.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/decades.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/electronic-dance.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/rnb.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/indie.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/workout.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/rock.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/pride.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/focus.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/sleep.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/country.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/folk-americana.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/romance.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/trending.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/gaming.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/jazz.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/comedy.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/soul.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/classical.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/kids.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/travel.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/k-pop.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/reggae.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/metal.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/punk.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/blues.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/fresh-finds.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/running.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/word.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/dinner.png" style="width:100%">
            </div>

            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/latin.png" style="width:100%">
            </div>
        </div>

        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/funk.png" style="width:100%">
            </div>

            <div class="col col-50">
            </div>
        </div>
    </ion-row>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row (tap)="showMusicPlayer()">
            <ion-col col-2>
                <button ion-button clear class="footer-button">
<ion-icon name="ios-arrow-up"></ion-icon>
</button>
            </ion-col>

            <ion-col col-8>
                <ion-row nowrap class="song-and-artist">
                    <div class="footer-artist">Post Malone</div>
                    <i class="separator">-</i>
                    <div class="footer-song">rockstar</div>
                </ion-row>
            </ion-col>

            <ion-col col-2>
                <button ion-button clear class="footer-button">
<ion-icon name="md-play"></ion-icon>
</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>