page-login {
    .video-container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .video-container video {
        /* Make video to at least 100% wide and tall */
        min-width: 100%;
        min-height: 100%;
        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;
        /* Center the video */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #spotify-logo {
        z-index: 300000;
    }
    ion-grid {
        height: 80%;
        justify-content: center;
        p {
            color: white;
            font-weight: bold;
        }
        button {
            font-weight: bold;
        }
    }
    ion-header img {
        opacity: 0.8;
        padding: 20px;
    }
    ion-slides {
        height: 100px;
        position: absolute;
        bottom: 0;
        ion-slide {
            color: #fff;
            p {
                font-size: 20px;
                font-weight: bold;
            }
        }
        .swiper-pagination-bullet {
            background: map-get($colors, light);
        }
    }
}