<ion-content text-center padding>
    <div class="video-container">
        <video webkit-playsinline playsinline autoplay loop muted>
      <source src="https://res.cloudinary.com/cediim8/video/upload/v1523591001/AdobeStock_191131154_Video_HD_Preview.mp4">
    </video>
    </div>

    <ion-col text-center>
        <img id="spotify-logo" src="http://138.68.175.66/imgs/spotify-logo.png">

        <ion-grid>
            <ion-row>
                <ion-col text-center>
                    <button full ion-button round color="spotifyPrimary" (tap)="goToTabs()">SIGN UP FREE</button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-center>
                    <button full ion-button round color="facebook" (tap)="goToTabs()">CONTINUE WITH FACEBOOK</button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col text-center>
                    <p>Already a user?</p>
                    <button full ion-button round color="light" (tap)="goToTabs()">LOG IN</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-col>
</ion-content>