<ion-tabs color="spotifyDarkGrey">
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="md-home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Browse" tabIcon="md-albums"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Search" tabIcon="md-search"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Radio" tabIcon="ios-radio-outline"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Your library" tabIcon="md-book"></ion-tab>
</ion-tabs>