<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (tap)="dismiss()">
        <ion-icon class="navbar-button" name="ios-arrow-back-outline" item-end></ion-icon>
      </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button icon-only>
        <ion-icon class="navbar-button" name="md-more" item-end></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>

    <shrinking-segment-header [scrollArea]="myContent" headerHeight="250">
        <ion-col text-center>
            <img [src]="user.avatar">
            <p>{{ user.name }}</p>
            <button ion-button round outline small>FIND FRIENDS</button>
        </ion-col>
    </shrinking-segment-header>
</ion-header>

<ion-content fullscreen #myContent>
    <ion-row text-center>
        <ion-col>
            <p class="number">{{ user.playlists.length }}</p>
            <p class="number-description">PLAYLISTS</p>
        </ion-col>

        <ion-col>
            <p class="number">{{user.follower}}</p>
            <p class="number-description">FOLLOWERS</p>
        </ion-col>

        <ion-col>
            <p class="number">{{user.following}}</p>
            <p class="number-description">FOLLOWING</p>
        </ion-col>
    </ion-row>

    <div class="item-title">Recently Played</div>

    <ion-row>
        <ion-list>
            <ion-item *ngFor="let song of user.history" no-lines class="playlist-item">
                <ion-avatar item-start>
                    <img [src]="song.cover">
                </ion-avatar>

                <p class="playlist-item-text">{{song.name}}</p>
                <p class="playlist-item-sub-text">{{song.artist}}</p>
            </ion-item>
        </ion-list>
    </ion-row>

    <div class="see-all">See all</div>

    <div class="item-title">Public Playlists</div>

    <ion-row>
        <ion-list>
            <ion-item *ngFor="let playlist of user.playlists" no-lines class="playlist-item">
                <ion-avatar item-start>
                    <img [src]="playlist.cover">
                </ion-avatar>

                <p class="playlist-item-text">{{ playlist.name }}</p>
                <p class="playlist-item-sub-text">{{ playlist.genre }}</p>
            </ion-item>
        </ion-list>
    </ion-row>
</ion-content>