page-profile {
    .toolbar-background {
        background-color: map_get($colors, spotifyDarkGrey);
    }
    .navbar-button {
        color: map_get($colors, spotifyVeryLightGrey);
    }
    .button-round-md,
    .button-round-ios {
        padding: 0 0.9rem;
        margin-top: 10px;
    }
    .button-outline-md,
    .button-outline-ios {
        color: white;
        border-color: white;
        margin-top: 10px;
    }
    .item-title {
        color: white;
        text-align: center;
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 5px;
    }
    .content {
        background-color: map_get($colors, spotifyBlack);
        .number {
            margin-bottom: 0px;
            color: white;
            font-weight: bold;
        }
        .number-description {
            margin: 0px;
            color: map_get($colors, spotifyVeryLightGrey);
            font-size: 10px;
        }
        .playlist-item {
            background-color: map_get($colors, spotifyBlack);
        }
        .playlist-item-icon {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .playlist-item-text {
            background-color: map_get($colors, spotifyBlack);
            color: white;
            font-size: 16px;
            margin-left: 10px;
        }
        .playlist-item-sub-text {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
            font-size: 12px;
            margin-left: 10px;
        }
        .see-all {
            color: white;
            font-size: 16px;
            margin-top: 0px;
            margin-left: 40px;
        }
    }
    shrinking-segment-header {
        background-color: map_get($colors, spotifyBlack);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            border-radius: 50%;
            width: 150px;
            margin: auto;
            display: block;
        }
        p {
            text-align: center;
            font-size: 30px;
            color: white;
            margin: 0px;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}