<ion-header>
    <ion-navbar>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="item-title">Made For You</div>
    <div class="item-sub-title">Get better recommendations the more you listen.</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix1.png" />
                    <div>
                        Daily Mix 1
                    </div>
                    <p>Stereophonics, Shed</p>
                    <p>Seven, Travis and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix2.png" />
                    <div>
                        Daily Mix 2
                    </div>
                    <p>Mogwai, And So I Watch</p>
                    <p>You from Afar and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix3.png" />
                    <div>
                        Daily Mix 3
                    </div>
                    <p>Devendra Banhart, The</p>
                    <p>Civil Wars and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix4.png" />
                    <div>
                        Daily Mix 4
                    </div>
                    <p>Trent Reznor, Alexandre</p>
                    <p>Desplat and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix5.png" />
                    <div>
                        Daily Mix 5
                    </div>
                    <p>Wiz Khalifa, T.I., Joe</p>
                    <p>Budden and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix6.png" />
                    <div>
                        Daily Mix 6
                    </div>
                    <p>The Mountain Goats, Xiu</p>
                    <p>Xiu, The Shins and more</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Recently Played</div>
    <!-- <div class="item-sub-title">Get better recommendations the more you listen.</div> -->

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/hot-hits-australia.png" />
                    <div>
                        Hot Hits Australia
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/peaceful-guitar.png" />
                    <div>
                        Peaceful Guitar
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/apply-yourself.png" />
                    <div>
                        Apply Yourself
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/new-music-friday.png" />
                    <div>
                        New Music Friday
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/office-stereo.png" />
                    <div>
                        The Office Stereo
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/guala-album.png" />
                    <div>
                        Guala
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/when-its-dark-out.png" />
                    <div>
                        When It's Dark Out
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/g-eazy-album.png" />
                    <div>
                        These Things Happen
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/filthy.png" />
                    <div>
                        Filthy
                    </div>
                    <p>ALBUM - BY JUSTIN TIM...</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/todays-top-hits.png" />
                    <div>
                        Today's Top hits
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/pollside-party.png" />
                    <div>
                        Poolside Party
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/vance-joy.png" />
                    <div>
                        We're Going Home
                    </div>
                    <p>ALBUM - BY VANCE JOY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/soja.png" />
                    <div>
                        Get Wiser
                    </div>
                    <p>ALBUM - BY SOJA</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Afternoon Jams</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/get-popped.png" />
                    <div>
                        Get Popped
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/unwind.png" />
                    <div>
                        Unwind
                    </div>
                    <p>645,543 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/indie-arrivals.png" />
                    <div>
                        Indie Arrivals
                    </div>
                    <p>892,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/big-summer-hits.png" />
                    <div>
                        Big Summer Hits
                    </div>
                    <p>964,655 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/monster-dance-hits.png" />
                    <div>
                        Monster Dance Hits
                    </div>
                    <p>427,514 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/always-perfect.png" />
                    <div>
                        Always Perfect
                    </div>
                    <p>644,212 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/just-chill.png" />
                    <div>
                        Just Chill
                    </div>
                    <p>253,247 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/fresh-country.png" />
                    <div>
                        Fresh Country
                    </div>
                    <p>311,545 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/happy-pop.png" />
                    <div>
                        Happy Pop
                    </div>
                    <p>652,694 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-afternoon.png" />
                    <div>
                        Chilled Afternoon
                    </div>
                    <p>947,564 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/broad-chords.png" />
                    <div>
                        Broad Chords
                    </div>
                    <p>653,645 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunny-reggae.png" />
                    <div>
                        Sunny Reggae
                    </div>
                    <p>161,613 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/coffee-chill.png" />
                    <div>
                        Coffee + Chill
                    </div>
                    <p>611,541 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunburnt-beats.png" />
                    <div>
                        Sunburnt Beats
                    </div>
                    <p>641,874 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/summertime-throwbacks.png" />
                    <div>
                        Summertime Throwbacks
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-classics.png" />
                    <div>
                        Chilled Classics
                    </div>
                    <p>575,535 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/rnb-connect.png" />
                    <div>
                        R&B Connect
                    </div>
                    <p>765,423 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-hits.png" />
                    <div>
                        Chilled Hits
                    </div>
                    <p>576,456 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/classic-summer.png" />
                    <div>
                        Classic Summer
                    </div>
                    <p>544,954 FOLLOWERS</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Made For You</div>
    <div class="item-sub-title">Get better recommendations the more you listen.</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix1.png" />
                    <div>
                        Daily Mix 1
                    </div>
                    <p>Stereophonics, Shed</p>
                    <p>Seven, Travis and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix2.png" />
                    <div>
                        Daily Mix 2
                    </div>
                    <p>Mogwai, And So I Watch</p>
                    <p>You from Afar and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix3.png" />
                    <div>
                        Daily Mix 3
                    </div>
                    <p>Devendra Banhart, The</p>
                    <p>Civil Wars and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix4.png" />
                    <div>
                        Daily Mix 4
                    </div>
                    <p>Trent Reznor, Alexandre</p>
                    <p>Desplat and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix5.png" />
                    <div>
                        Daily Mix 5
                    </div>
                    <p>Wiz Khalifa, T.I., Joe</p>
                    <p>Budden and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix6.png" />
                    <div>
                        Daily Mix 6
                    </div>
                    <p>The Mountain Goats, Xiu</p>
                    <p>Xiu, The Shins and more</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Recently Played</div>
    <!-- <div class="item-sub-title">Get better recommendations the more you listen.</div> -->

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/hot-hits-australia.png" />
                    <div>
                        Hot Hits Australia
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/peaceful-guitar.png" />
                    <div>
                        Peaceful Guitar
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/apply-yourself.png" />
                    <div>
                        Apply Yourself
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/new-music-friday.png" />
                    <div>
                        New Music Friday
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/office-stereo.png" />
                    <div>
                        The Office Stereo
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/guala-album.png" />
                    <div>
                        Guala
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/when-its-dark-out.png" />
                    <div>
                        When It's Dark Out
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/g-eazy-album.png" />
                    <div>
                        These Things Happen
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/filthy.png" />
                    <div>
                        Filthy
                    </div>
                    <p>ALBUM - BY JUSTIN TIM...</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/todays-top-hits.png" />
                    <div>
                        Today's Top hits
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/pollside-party.png" />
                    <div>
                        Poolside Party
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/vance-joy.png" />
                    <div>
                        We're Going Home
                    </div>
                    <p>ALBUM - BY VANCE JOY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/soja.png" />
                    <div>
                        Get Wiser
                    </div>
                    <p>ALBUM - BY SOJA</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Afternoon Jams</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/get-popped.png" />
                    <div>
                        Get Popped
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/unwind.png" />
                    <div>
                        Unwind
                    </div>
                    <p>645,543 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/indie-arrivals.png" />
                    <div>
                        Indie Arrivals
                    </div>
                    <p>892,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/big-summer-hits.png" />
                    <div>
                        Big Summer Hits
                    </div>
                    <p>964,655 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/monster-dance-hits.png" />
                    <div>
                        Monster Dance Hits
                    </div>
                    <p>427,514 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/always-perfect.png" />
                    <div>
                        Always Perfect
                    </div>
                    <p>644,212 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/just-chill.png" />
                    <div>
                        Just Chill
                    </div>
                    <p>253,247 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/fresh-country.png" />
                    <div>
                        Fresh Country
                    </div>
                    <p>311,545 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/happy-pop.png" />
                    <div>
                        Happy Pop
                    </div>
                    <p>652,694 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-afternoon.png" />
                    <div>
                        Chilled Afternoon
                    </div>
                    <p>947,564 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/broad-chords.png" />
                    <div>
                        Broad Chords
                    </div>
                    <p>653,645 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunny-reggae.png" />
                    <div>
                        Sunny Reggae
                    </div>
                    <p>161,613 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/coffee-chill.png" />
                    <div>
                        Coffee + Chill
                    </div>
                    <p>611,541 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunburnt-beats.png" />
                    <div>
                        Sunburnt Beats
                    </div>
                    <p>641,874 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/summertime-throwbacks.png" />
                    <div>
                        Summertime Throwbacks
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-classics.png" />
                    <div>
                        Chilled Classics
                    </div>
                    <p>575,535 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/rnb-connect.png" />
                    <div>
                        R&B Connect
                    </div>
                    <p>765,423 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-hits.png" />
                    <div>
                        Chilled Hits
                    </div>
                    <p>576,456 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/classic-summer.png" />
                    <div>
                        Classic Summer
                    </div>
                    <p>544,954 FOLLOWERS</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Made For You</div>
    <div class="item-sub-title">Get better recommendations the more you listen.</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix1.png" />
                    <div>
                        Daily Mix 1
                    </div>
                    <p>Stereophonics, Shed</p>
                    <p>Seven, Travis and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix2.png" />
                    <div>
                        Daily Mix 2
                    </div>
                    <p>Mogwai, And So I Watch</p>
                    <p>You from Afar and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix3.png" />
                    <div>
                        Daily Mix 3
                    </div>
                    <p>Devendra Banhart, The</p>
                    <p>Civil Wars and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix4.png" />
                    <div>
                        Daily Mix 4
                    </div>
                    <p>Trent Reznor, Alexandre</p>
                    <p>Desplat and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix5.png" />
                    <div>
                        Daily Mix 5
                    </div>
                    <p>Wiz Khalifa, T.I., Joe</p>
                    <p>Budden and more</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dailyMix6.png" />
                    <div>
                        Daily Mix 6
                    </div>
                    <p>The Mountain Goats, Xiu</p>
                    <p>Xiu, The Shins and more</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Recently Played</div>
    <!-- <div class="item-sub-title">Get better recommendations the more you listen.</div> -->

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/hot-hits-australia.png" />
                    <div>
                        Hot Hits Australia
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/peaceful-guitar.png" />
                    <div>
                        Peaceful Guitar
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/apply-yourself.png" />
                    <div>
                        Apply Yourself
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/new-music-friday.png" />
                    <div>
                        New Music Friday
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/office-stereo.png" />
                    <div>
                        The Office Stereo
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/guala-album.png" />
                    <div>
                        Guala
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/when-its-dark-out.png" />
                    <div>
                        When It's Dark Out
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/g-eazy-album.png" />
                    <div>
                        These Things Happen
                    </div>
                    <p>ALBUM - BY G-EAZY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/filthy.png" />
                    <div>
                        Filthy
                    </div>
                    <p>ALBUM - BY JUSTIN TIM...</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/todays-top-hits.png" />
                    <div>
                        Today's Top hits
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/pollside-party.png" />
                    <div>
                        Poolside Party
                    </div>
                    <p>PLAYLIST - BY SPOTIFY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/vance-joy.png" />
                    <div>
                        We're Going Home
                    </div>
                    <p>ALBUM - BY VANCE JOY</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/soja.png" />
                    <div>
                        Get Wiser
                    </div>
                    <p>ALBUM - BY SOJA</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Afternoon Jams</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/get-popped.png" />
                    <div>
                        Get Popped
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/unwind.png" />
                    <div>
                        Unwind
                    </div>
                    <p>645,543 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/indie-arrivals.png" />
                    <div>
                        Indie Arrivals
                    </div>
                    <p>892,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/big-summer-hits.png" />
                    <div>
                        Big Summer Hits
                    </div>
                    <p>964,655 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/monster-dance-hits.png" />
                    <div>
                        Monster Dance Hits
                    </div>
                    <p>427,514 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/always-perfect.png" />
                    <div>
                        Always Perfect
                    </div>
                    <p>644,212 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/just-chill.png" />
                    <div>
                        Just Chill
                    </div>
                    <p>253,247 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/fresh-country.png" />
                    <div>
                        Fresh Country
                    </div>
                    <p>311,545 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/happy-pop.png" />
                    <div>
                        Happy Pop
                    </div>
                    <p>652,694 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-afternoon.png" />
                    <div>
                        Chilled Afternoon
                    </div>
                    <p>947,564 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/broad-chords.png" />
                    <div>
                        Broad Chords
                    </div>
                    <p>653,645 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunny-reggae.png" />
                    <div>
                        Sunny Reggae
                    </div>
                    <p>161,613 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/coffee-chill.png" />
                    <div>
                        Coffee + Chill
                    </div>
                    <p>611,541 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sunburnt-beats.png" />
                    <div>
                        Sunburnt Beats
                    </div>
                    <p>641,874 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/summertime-throwbacks.png" />
                    <div>
                        Summertime Throwbacks
                    </div>
                    <p>185,240 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-classics.png" />
                    <div>
                        Chilled Classics
                    </div>
                    <p>575,535 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/rnb-connect.png" />
                    <div>
                        R&B Connect
                    </div>
                    <p>765,423 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/chilled-hits.png" />
                    <div>
                        Chilled Hits
                    </div>
                    <p>576,456 FOLLOWERS</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/classic-summer.png" />
                    <div>
                        Classic Summer
                    </div>
                    <p>544,954 FOLLOWERS</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row (click)="showMusicPlayer()">
            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="ios-arrow-up"></ion-icon>
        </button>
            </ion-col>

            <ion-col col-8>
                <ion-row nowrap class="song-and-artist">
                    <div class="footer-artist">Post Malone</div>
                    <i class="separator">-</i>
                    <div class="footer-song">rockstar</div>
                </ion-row>
            </ion-col>

            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="md-play"></ion-icon>
        </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>