<ion-header>
    <ion-navbar>
        <ion-title>Radio</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row style="margin-bottom: 20px;" (click)="goToPlaylist()">
        <div class="row">
            <div class="col col-50">
                <img src="http://138.68.175.66/imgs/your-daily-mix.png" style="width:80%">
            </div>

            <div class="col col-50 daily-mix-item">
                <div class="daily-mix-title">My Daily Mix</div>
                <div class="daily-mix-sub-title">6 mixes of your favourite music.</div>
            </div>
        </div>
    </ion-row>

    <div class="item-title">Recently Played</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/gold-digger.png" />
                    <div>Gold Digger</div>
                    <div>Kanye West</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/100.png" />
                    <div>100 (feat. Drake)</div>
                    <div>The Game</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/99-problems.png" />
                    <div>99 Problems</div>
                    <div>JAY Z</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/truffle-butter.png" />
                    <div>Truffle Butter</div>
                    <div>Nicki Minaj</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/dont-wanna-know.png" />
                    <div>Don't Wanna Know</div>
                    <div>(feat. Sarah Hyland)</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/bella-luna.png" />
                    <div>Bella Luna</div>
                    <div>Jason Mraz</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/sneakin.png" />
                    <div>Sneakin'</div>
                    <div>Drake</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/three-little-birds.png" />
                    <div>Three Little Birds</div>
                    <div>Bob Marley & The Wai...</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/big-sean.png" />
                    <div>Blessings</div>
                    <div>Big Sean</div>
                    <p>SONG RADIO</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Recommended Stations</div>

    <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true" scroll-avatar>
                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/g-eazy-radio.png" />
                    <div>G-Eazy</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/eminem.png" />
                    <div>Eminem</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/ed-sheeran.png" />
                    <div>Ed Sheeran</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/post-malone-radio.png" />
                    <div>Post Malone</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/cold-chisel.png" />
                    <div>Cold Chisel</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/bo-burnham.png" />
                    <div>Bo Burnham</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/kendrick-lamar-radio.png" />
                    <div>Kendrick Lamar</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/soja-radio.png" />
                    <div>SOJA</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/jason-mraz.png" />
                    <div>Jason Mraz</div>
                    <p>SONG RADIO</p>
                </ion-col>

                <ion-col class="scroll-item" (click)="goToPlaylist()">
                    <img src="http://138.68.175.66/imgs/daryl-braithwaite.png" />
                    <div>Daryl Braithwaite</div>
                    <p>SONG RADIO</p>
                </ion-col>
            </ion-scroll>
        </ion-item>
    </ion-row>

    <div class="item-title">Genre Stations</div>

    <ion-row>
        <ion-list>
            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Blues</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Classical</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Comedy</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Country</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Club/House</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Folk</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Funk</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Heavy Metal</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Hip-Hop</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Indie</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Jazz</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Latin</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Pop</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Punk</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">R&B</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Reggae</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Rock</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">Soul</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">50s</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">60s</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">70s</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">80s</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">90s</p>
            </ion-item>

            <ion-item no-lines class="radio-item">
                <ion-icon class="radio-item-icon" name="ios-radio-outline" item-start></ion-icon>
                <p class="radio-item-text">00s</p>
            </ion-item>
        </ion-list>
    </ion-row>

</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row (tap)="showMusicPlayer()">
            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="ios-arrow-up"></ion-icon>
        </button>
            </ion-col>

            <ion-col col-8>
                <ion-row nowrap class="song-and-artist">
                    <div class="footer-artist">Post Malone</div>
                    <i class="separator">-</i>
                    <div class="footer-song">rockstar</div>
                </ion-row>
            </ion-col>

            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="md-play"></ion-icon>
        </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>