page-radio {
    .toolbar-background {
        background-color: map_get($colors, spotifyDarkGrey);
    }
    .toolbar-title {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
    .content {
        background-color: map_get($colors, spotifyBlack);
        .daily-mix-item {
            margin-top: 30px;
        }
        .daily-mix-title {
            color: white;
            font-size: 18px;
            margin-bottom: 5px;
        }
        .daily-mix-sub-title {
            color: map_get($colors, spotifyVeryLightGrey);
            font-size: 14px;
        }
        .item-title {
            color: white;
            text-align: center;
            font-size: 18px;
            margin-bottom: 5px;
        }
        ion-item {
            padding: 0px;
            margin: 0px;
            ion-label {
                margin: 0px;
            }
        }
        .item-md.item-block .item-inner,
        .item-ios.item-block .item-inner {
            padding-right: 0px;
        }
        ion-scroll[scrollX] {
            background-color: map_get($colors, spotifyBlack);
            white-space: nowrap;
            height: 250px;
            overflow: hidden;
            div.scroll-content {
                padding: 0px;
            }
            .scroll-item {
                display: inline-block;
                max-width: 150px;
            }
            ion-col {
                img {
                    height: 150px;
                    width: 150px;
                }
                div {
                    text-align: center;
                    font-size: 12px;
                    color: white;
                    margin-top: 5px;
                }
                p {
                    text-align: center;
                    font-size: 12px;
                    color: map_get($colors, spotifyVeryLightGrey);
                    margin-top: 5px;
                }
            }
        }
        .radio-item {
            background-color: map_get($colors, spotifyBlack);
        }
        .radio-item-icon {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .radio-item-text {
            background-color: map_get($colors, spotifyBlack);
            color: white;
            font-size: 16px;
        }
        /* Hide ion-content scrollbar */
         ::-webkit-scrollbar {
            display: none;
        }
    }
    ion-footer {
        text-align: center;
        border-bottom: 1px solid map_get($colors, spotifyLightGrey);
        background-color: map_get($colors, spotifyDarkGrey);
        max-height: 56px;
        .footer-button {
            color: white;
            vertical-align: top;
        }
        .song-and-artist {
            display: flex;
            justify-content: center;
            height: 100%;
            vertical-align: middle;
            margin-top: 12px;
        }
        .footer-artist {
            font-size: 14px;
            color: white;
        }
        .separator {
            margin-left: 5px;
            margin-right: 5px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .footer-song {
            font-size: 14px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
    }
}