page-playlist {
    .toolbar-background {
        background-color: map_get($colors, spotifyDarkGrey);
    }
    .toolbar-title {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
    .navbar-button {
        color: map_get($colors, spotifyVeryLightGrey);
    }
    .button-round-md,
    .button-round-ios {
        padding: 0 0.9rem;
        margin-top: 10px;
        font-size: 11px;
        border-width: 2px;
        border-color: map_get($colors, spotifyPrimary);
    }
    .button-outline-md,
    .button-outline-ios {
        color: white;
        border-color: white;
        font-size: 11px;
        margin-top: 10px;
        border-width: 2px;
        border-color: map_get($colors, spotifyPrimary);
    }
    .followers {
        margin: 0px;
        color: map_get($colors, spotifyVeryLightGrey);
        font-size: 10px;
    }
    .item-title {
        color: white;
        text-align: center;
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 5px;
    }
    .content {
        background-color: map_get($colors, spotifyBlack);
        ion-item {
            background-color: map_get($colors, spotifyBlack);
            ion-label {
                font-size: 16px;
                color: white;
            }
        }
        .playlist-item {
            background-color: map_get($colors, spotifyBlack);
        }
        .playlist-item-icon {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .playlist-item-text {
            background-color: map_get($colors, spotifyBlack);
            color: white;
            font-size: 16px;
            margin-left: 10px;
        }
        .playlist-item-sub-text {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
            font-size: 12px;
            margin-left: 10px;
        }
        .playlist-item-button-options {
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .see-all {
            color: white;
            font-size: 16px;
            margin-top: 0px;
            margin-left: 40px;
        }
    }
    .swiper-pagination-bullet {
        background: map_get($colors, spotifyLightGrey);
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background: map_get($colors, spotifyPrimary);
        opacity: 1;
    }
    .shuffle-play {
        font-weight: bold;
        width: 140px;
        margin-top: -5px;
        z-index: 100;
    }
    shrinking-segment-header {
        background-color: map_get($colors, spotifyBlack);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        #playlist-image {
            width: 150px;
            margin: auto;
            display: block;
        }
        .dailyMixTitle {
            text-align: center;
            font-size: 30px;
            color: white;
            margin: 0px;
            font-weight: bold;
            margin-top: 10px;
        }
        .playlist-description {
            font-size: 14px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-align: center;
        }
    }
}