<ion-header>
    <ion-toolbar>
        <ion-title>
            Daily Mix 1
        </ion-title>

        <ion-buttons left>
            <button ion-button icon-only (tap)="dismiss()">
        <ion-icon class="navbar-button" name="ios-arrow-back-outline" item-end></ion-icon>
      </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button icon-only>
        <ion-icon class="navbar-button" name="md-more" item-end></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>

    <shrinking-segment-header [scrollArea]="myContent" headerHeight="320">
        <!-- <ion-slides pager effect="slide">
      <ion-slide> -->
        <ion-col text-center>
            <img id="playlist-image" src="http://138.68.175.66/imgs/dailyMix1.png" />
            <p class="dailyMixTitle">Daily Mix 1</p>

            <button ion-button round outline small>FOLLOWING</button>
            <p class="followers">771,247 FOLLOWERS - BY SPOTIFY</p>
        </ion-col>
        <!-- </ion-slide>

      <ion-slide>
        <ion-col text-center>
          <p class="playlist-description">Australia's biggest playlist. The hottest</p>
          <p class="playlist-description">tracks with future, breaking hits</p>
          <p class="playlist-description">added regularly. Cover: Rudimental,</p>
          <p class="playlist-description">Macklemore, Jess Glyne & Dan Caplen</p>

          <ion-row>
            <ion-col text-center>
              <p>12 Feb. 2018</p>
            </ion-col>

            <ion-col text-center>
              <p>2h 51min</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-slide>
    </ion-slides> -->
    </shrinking-segment-header>
</ion-header>

<ion-content fullscreen #myContent>
    <ion-row text-center>
        <ion-col>
            <button class="shuffle-play" ion-button color="spotifyPrimary" round>SHUFFLE PLAY</button>
        </ion-col>
    </ion-row>

    <ion-list no-lines>
        <ion-item>
            <ion-label>Download</ion-label>
            <ion-toggle checked="false" color="spotifyPrimary"></ion-toggle>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">IDGAF</p>
            <p class="playlist-item-sub-text">Dua Lipa - IDGAF</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">These Days</p>
            <p class="playlist-item-sub-text">Rudimental, Jesss Glyne, Macklemore</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="playlist-item">
            <p class="playlist-item-text">River (feat. Ed Sheeran)</p>
            <p class="playlist-item-sub-text">Eminem, Ed Sheeran - Revival</p>

            <button class="playlist-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>
    </ion-list>
</ion-content>