page-music-player {
    .toolbar-background {
        background-color: map_get($colors, spotifyDarkGrey);
    }
    .toolbar-title {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
    .navbar-button {
        color: map_get($colors, spotifyVeryLightGrey);
    }
    .title {
        color: map_get($colors, spotifyVeryLightGrey);
        font-size: 10px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .sub-title {
        color: map_get($colors, spotifyVeryLightGrey);
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        margin: 0px;
    }
    .content {
        background-color: map_get($colors, spotifyBlack);
        #album-art {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            left: 0;
            right: 0;
            max-height: 43vh;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            // border-radius: 50%;
            // -webkit-border-radius: 50%;
            // -moz-border-radius: 50%;
        }
        .half-screen {
            width: 100%;
            height: 50%;
        }
        .song-details {
            width: 100%;
            height: 15%;
        }
        .music-track {
            width: 100%;
            height: 15%;
        }
        .song-controls {
            width: 100%;
            height: 15%;
        }
        .devices {
            width: 100%;
            height: 5%;
        }
        .side-button {
            height: 100%;
            justify-content: center;
            color: white;
        }
        .song-artist-row {
            height: 50%;
            vertical-align: bottom;
            justify-content: center;
            display: flex!important;
            align-content: center!important;
            align-items: center!important;
        }
        .song {
            font-size: 16px;
            color: white;
        }
        .artist {
            font-size: 16px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .music-time-track {
            background-color: map_get($colors, spotifyBlack);
            padding-left: 0px;
            width: 100%;
        }
        .song-time {
            font-size: 16px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .option-button {
            color: white;
            vertical-align: center;
        }
        .play-button {
            color: white;
            position: relative;
            display: inline-block;
            width: 100%;
        }
        .devices-available {
            text-align: center;
            color: white;
            p {
                margin-left: 10px;
            }
        }
    }
}