<ion-header>
    <ion-toolbar>
        <p class="title">PLAYING FROM ARTIST</p>
        <p class="sub-title">Post Malone</p>

        <ion-buttons left>
            <button ion-button icon-only (tap)="close()">
        <ion-icon class="navbar-button" name="ios-arrow-down-outline" item-end></ion-icon>
      </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button icon-only>
        <ion-icon class="navbar-button" name="md-list" item-end></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>
    <div class="half-screen">
        <ion-row>
            <ion-col>
                <img id="album-art" src="http://138.68.175.66/imgs/rockstar.png">
            </ion-col>
        </ion-row>
    </div>

    <ion-row class="song-details">
        <ion-col col-2 text-center>
            <button ion-button clear class="side-button">
        <ion-icon name="md-add" style="font-size: 30px;"></ion-icon>
      </button>
        </ion-col>

        <ion-col col-8 text-center>
            <ion-row class="song-artist-row">
                <div class="song">rockstar</div>
            </ion-row>

            <ion-row class="song-artist-row">
                <div class="artist">Post Malone, 21 Savage</div>
            </ion-row>
        </ion-col>

        <ion-col col-2 text-center>
            <button ion-button clear class="side-button">
        <ion-icon name="md-more" style="font-size: 30px;"></ion-icon>
      </button>
        </ion-col>
    </ion-row>

    <ion-row class="music-track">
        <ion-range color="spotifyPrimary" class="music-time-track">
            <div class="song-time" range-left>0:00</div>
            <div class="song-time" range-right>3:38</div>
        </ion-range>
    </ion-row>

    <ion-row class="song-controls">
        <ion-col col-2>
            <button ion-button clear class="option-button">
        <ion-icon name="ios-shuffle-outline" style="font-size: 32px;"></ion-icon>
      </button>
        </ion-col>

        <ion-col col-2>
            <button ion-button clear class="option-button">
        <ion-icon name="md-skip-backward" style="font-size: 25px;"></ion-icon>
      </button>
        </ion-col>

        <ion-col col-4>
            <button ion-button clear class="play-button" (click)="play()">
        <ion-icon name="md-play" style="font-size: 35px;"></ion-icon>
      </button>
        </ion-col>

        <ion-col col-2>
            <button ion-button clear class="option-button">
        <ion-icon name="md-skip-forward" style="font-size: 25px;"></ion-icon>
      </button>
        </ion-col>

        <ion-col col-2>
            <button ion-button clear class="option-button">
        <ion-icon name="md-infinite" style="font-size: 32px;"></ion-icon>
      </button>
        </ion-col>
    </ion-row>

    <ion-row class="devices">
        <ion-col>
            <button ion-button clear class="devices-available">
        <ion-icon name="md-desktop"></ion-icon>
        <p>Devices Available</p>
      </button>
        </ion-col>
    </ion-row>
</ion-content>