<ion-header>
    <ion-navbar>
        <ion-title>Your library</ion-title>

        <ion-buttons left>
            <button ion-button icon-only (click)="goToProfile()">
        <ion-item class="avatar-navbar">
          <ion-avatar item-left>
            <img [src]="user.avatar">
          </ion-avatar>
        </ion-item>
      </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button icon-only (tap)="goToSettings()">
        <ion-icon class="settings-navbar" name="ios-settings-outline" item-end></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item no-lines class="library-item">
            <ion-icon class="library-item-icon" name="ios-sunny-outline" item-start></ion-icon>
            <p class="library-item-text">Your Daily Mix</p>
        </ion-item>

        <ion-item no-lines class="library-item">
            <ion-icon class="library-item-icon" name="ios-musical-notes-outline" item-start></ion-icon>
            <p class="library-item-text">Playlists</p>
        </ion-item>

        <ion-item no-lines class="library-item">
            <ion-icon class="library-item-icon" name="ios-radio-outline" item-start></ion-icon>
            <p class="library-item-text">Stations</p>
        </ion-item>

        <ion-item no-lines class="library-item">
            <ion-icon class="library-item-icon" name="ios-musical-note-outline" item-start></ion-icon>
            <p class="library-item-text">Songs</p>
        </ion-item>

        <ion-item no-lines class="library-item">
            <ion-icon class="library-item-icon" name="md-disc" item-start></ion-icon>
            <p class="library-item-text">Albums</p>
        </ion-item>

        <ion-item no-lines class="library-item">
            <ion-icon class="library-item-icon" name="ios-person-outline" item-start></ion-icon>
            <p class="library-item-text">Artists</p>
        </ion-item>

        <ion-item no-lines class="library-item">
            <ion-icon class="library-item-icon" name="md-wifi" item-start></ion-icon>
            <p class="library-item-text">Podcasts</p>
        </ion-item>
    </ion-list>

    <div class="item-title">Recently Played</div>

    <ion-list>
        <ion-item *ngFor="let song of user.history" no-lines class="recently-played-item">
            <ion-avatar item-start>
                <img [src]="song.cover">
            </ion-avatar>

            <p class="recently-played-item-text">{{song.name}}</p>
            <p class="recently-played-item-sub-text">{{song.artist}}</p>

            <button class="recently-played-item-button-options" ion-button clear item-end>
        <ion-icon name="md-more"></ion-icon>
      </button>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row (tap)="showMusicPlayer()">
            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="ios-arrow-up"></ion-icon>
        </button>
            </ion-col>

            <ion-col col-8>
                <ion-row nowrap class="song-and-artist">
                    <div class="footer-artist">Post Malone</div>
                    <i class="separator">-</i>
                    <div class="footer-song">rockstar</div>
                </ion-row>
            </ion-col>

            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="md-play"></ion-icon>
        </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>