page-library {
    .toolbar-background {
        background-color: map_get($colors, spotifyDarkGrey);
    }
    .toolbar-title {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding-right: 0px;
        border-bottom: 0px;
    }
    .item-md ion-avatar[item-left],
    .item-md ion-thumbnail[item-left],
    .item-md ion-avatar[item-start],
    .item-md ion-thumbnail[item-start],
    .item-ios ion-avatar[item-left],
    .item-ios ion-thumbnail[item-left],
    .item-ios ion-avatar[item-start],
    .item-ios ion-thumbnail[item-start] {
        margin: 0px;
    }
    .avatar-navbar {
        background-color: map_get($colors, spotifyDarkGrey);
        padding: 0px;
        margin: 0px;
        ion-label {
            margin: 0px;
        }
    }
    .settings-navbar {
        color: white;
    }
    .item-title {
        color: white;
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .content {
        background-color: map_get($colors, spotifyBlack);
        .library-item {
            background-color: map_get($colors, spotifyBlack);
        }
        .library-item-icon {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .library-item-text {
            background-color: map_get($colors, spotifyBlack);
            color: white;
            font-size: 16px;
        }
        .recently-played-item {
            background-color: map_get($colors, spotifyBlack);
        }
        .recently-played-item-icon {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .recently-played-item-text {
            background-color: map_get($colors, spotifyBlack);
            color: white;
            font-size: 16px;
            margin-left: 10px;
        }
        .recently-played-item-sub-text {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
            font-size: 12px;
            margin-left: 10px;
        }
        .recently-played-item-button-options {
            color: map_get($colors, spotifyVeryLightGrey);
        }
    }
    ion-footer {
        text-align: center;
        border-bottom: 1px solid map_get($colors, spotifyLightGrey);
        background-color: map_get($colors, spotifyDarkGrey);
        max-height: 56px;
        .footer-button {
            color: white;
            vertical-align: top;
        }
        .song-and-artist {
            display: flex;
            justify-content: center;
            height: 100%;
            vertical-align: middle;
            margin-top: 12px;
        }
        .footer-artist {
            font-size: 14px;
            color: white;
        }
        .separator {
            margin-left: 5px;
            margin-right: 5px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .footer-song {
            font-size: 14px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
    }
}