<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-10>
                <ion-searchbar placeholder="Search"></ion-searchbar>
            </ion-col>

            <ion-col col-2 text-center>
                <button ion-button clear item-end>
          <ion-icon class="barcode-camera" name="ios-camera-outline"></ion-icon>
        </button>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="item-title">Recent Searches</div>

    <ion-list>
        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/geazy-90.jpeg">
            </ion-avatar>

            <p class="search-item-text">G-Eazy</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/Jay-Z.jpg">
            </ion-avatar>

            <p class="search-item-text">Jay-Z</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/kendrick lamar.jpg">
            </ion-avatar>

            <p class="search-item-text">Kendrick Lamar</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/post-malone.jpg">
            </ion-avatar>

            <p class="search-item-text">Post Malone</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/geazy-90.jpeg">
            </ion-avatar>

            <p class="search-item-text">G-Eazy</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/Jay-Z.jpg">
            </ion-avatar>

            <p class="search-item-text">Jay-Z</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/kendrick lamar.jpg">
            </ion-avatar>

            <p class="search-item-text">Kendrick Lamar</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/post-malone.jpg">
            </ion-avatar>

            <p class="search-item-text">Post Malone</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/geazy-90.jpeg">
            </ion-avatar>

            <p class="search-item-text">G-Eazy</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/Jay-Z.jpg">
            </ion-avatar>

            <p class="search-item-text">Jay-Z</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/kendrick lamar.jpg">
            </ion-avatar>

            <p class="search-item-text">Kendrick Lamar</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>

        <ion-item no-lines class="search-item">
            <ion-avatar item-start>
                <img src="http://138.68.175.66/imgs/post-malone.jpg">
            </ion-avatar>

            <p class="search-item-text">Post Malone</p>
            <p class="search-item-sub-text">Artist</p>

            <button class="clear-search-item-button" ion-button clear item-end>
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-item>
    </ion-list>

    <div class="clear-search-results">Clear recent searches</div>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row (tap)="showMusicPlayer()">
            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="ios-arrow-up"></ion-icon>
        </button>
            </ion-col>

            <ion-col col-8>
                <ion-row nowrap class="song-and-artist">
                    <div class="footer-artist">Post Malone</div>
                    <i class="separator">-</i>
                    <div class="footer-song">rockstar</div>
                </ion-row>
            </ion-col>

            <ion-col col-2>
                <button ion-button clear class="footer-button">
          <ion-icon name="md-play"></ion-icon>
        </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>