page-search {
    .toolbar-background {
        background-color: map_get($colors, spotifyDarkGrey);
    }
    .toolbar-title {
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
    .searchbar-md .searchbar-input,
    .searchbar-ios .searchbar-input {
        background-color: map_get($colors, spotifyDarkGrey);
        color: white;
    }
    .barcode-camera {
        color: white;
        font-size: 30px;
        text-align: center;
    }
    .content {
        background-color: map_get($colors, spotifyBlack);
        ion-note {
            font-size: 12px;
            align-self: flex-start;
            margin-top: 14px;
        }
        .item-title {
            color: white;
            text-align: center;
            font-size: 18px;
            margin-bottom: 10px;
        }
        .search-item {
            background-color: map_get($colors, spotifyBlack);
        }
        .search-item-icon {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .search-item-text {
            background-color: map_get($colors, spotifyBlack);
            color: white;
            font-size: 16px;
            margin-left: 10px;
        }
        .search-item-sub-text {
            background-color: map_get($colors, spotifyBlack);
            color: map_get($colors, spotifyVeryLightGrey);
            font-size: 12px;
            margin-left: 10px;
        }
        .clear-search-item-button {
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .clear-search-results {
            color: map_get($colors, spotifyVeryLightGrey);
            ;
            font-size: 16px;
            font-weight: bold;
        }
    }
    ion-footer {
        text-align: center;
        border-bottom: 1px solid map_get($colors, spotifyLightGrey);
        background-color: map_get($colors, spotifyDarkGrey);
        max-height: 56px;
        .footer-button {
            color: white;
            vertical-align: top;
        }
        .song-and-artist {
            display: flex;
            justify-content: center;
            height: 100%;
            vertical-align: middle;
            margin-top: 12px;
        }
        .footer-artist {
            font-size: 14px;
            color: white;
        }
        .separator {
            margin-left: 5px;
            margin-right: 5px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
        .footer-song {
            font-size: 14px;
            color: map_get($colors, spotifyVeryLightGrey);
        }
    }
}